<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Iscrizioni chiuse - riprova pi&ugrave; tardi</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
      img {
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
      }
      div {
        width: 400px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <img src="/static/subscribe/logoroute.png" style="width:200px;">
      <p>Le iscrizioni al momento sono chiuse e apriranno<br/><span style="font-weight: bold;">Marted&igrave; 22 luglio, ore 22.00.</span></p>
    </div>
  </body>
</html>
