<div class="alert alert-danger" ng-show="alert">
    <button class="close" ng-click="closeAlert()" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <strong>{{alert.title}}</strong><br>
    {{alert.message}}
</div>
<div ng-if="loaded" class="row">
    <div ng-repeat="timeslot in timeslots" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 style="font-weight: bold;">Il tuo evento di {{timeslot.timeslot}}</h5>
            </div>
            <div class="panel-body" data-slotid="{{timeslot.timeslot}}" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                <h5 style="pointer-events: none;" ng-hide="timeslot.event">Non sei iscritto a nessun evento in questo turno</h5>
                <div style="pointer-events: none;" class="well" ng-show="timeslot.event.timeslot">
                    <p style="text-align: center;">
                        <span class="event label" style="white-space: normal; color: black;"
                              ng-class="{lab: slotEvent.kind === 'LAB', tav: timeslot.event.kind === 'TAV'}">{{timeslot.event.name}}</span><br>
                        <button style="pointer-events: auto;" ng-show="!event.is_locked" class="btn btn-xs btn-danger" ng-click="removeSlotEvent(timeslot.timeslot, timeslot.event)" type="button">Cancellati</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="loaded" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 0.5em;">
        <div class="event tav label">Gli eventi in verde sono TAVOLE ROTONDE</div>
        <div class="event lab label">Gli eventi in azzurro sono LABORATORI</div>
    </div>
</div>
<div ng-if="loaded" class="row filler">
    <div style="display: block; width: 100%;" id="eventi">
        <div ng-repeat="timeslot in timeslots" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                Eventi disponibili {{timeslot.timeslot}}
            </h4>
            <p>
                Filtri:
<!--                <input type="text" ng-keyup="reload()" style="width: 200px;" ng-model="districtFilters[timeslot.timeslot]" placeholder="Ricerca per quartiere">
                <input type="text" ng-keyup="reload()" style="width: 240px;" ng-model="heartbeatFilters[timeslot.timeslot]" placeholder="Ricerca per strada di coraggio">-->
                <input type="text" ng-keyup="reload()" style="width: 200px;" ng-model="printcodeFilters[timeslot.timeslot]" placeholder="Ricerca per codice stampa">
                Quartiere:
                <select ng-change="reload()" ng-model="districtFilters[timeslot.timeslot]">
                    <option value="">TUTTI</option>
                    <option ng-repeat="district in districts" value="{{district}}">{{district}}</option>
                </select>
                Strada di coraggio:
                <select ng-change="reload()" ng-model="heartbeatFilters[timeslot.timeslot]">
                    <option value="">TUTTE</option>
                    <option ng-repeat="heartbeat in heartbeats" value="{{heartbeat}}">{{heartbeat}}</option>
                </select>
                Tipologia:
                <select ng-change="reload()" ng-model="kindFilters[timeslot.timeslot]">
                    <option value="">TUTTI</option>
                    <option value="TAV">TAVOLA ROTONDA</option>
                    <option value="LAB">LABORATORIO</option>
                </select><br>
                <label><input type="checkbox" ng-change="reload()" ng-model="handicapFilters[timeslot.timeslot]">Solo eventi per disabili</label>
                <label><input type="checkbox" ng-change="reload()" ng-model="chiefonlyFilters[timeslot.timeslot]">Solo eventi per soli capi</label>
            </p>
            <div class="well" ng-show="timeslot.event">Partecipi già ad un evento di questo turno</div>
            <div class="well" ng-show="getEventsForTimeslot(timeslot.timeslot).length === 0">Non ci sono eventi in questo slot</div>
            <table id="events" ng-hide="timeslot.event || getEventsForTimeslot(timeslot.timeslot).length === 0" ng-table="getTableParams(timeslot.timeslot)" class="table table-bordered" cellspacing="0" width="100%">
                <tbody>
                    <tr class="event" ng-class="{lab: event.kind === 'LAB', tav: event.kind === 'TAV'}" ng-repeat="event in $data" data-eventid="{{event.num}}" x-lvl-draggable="true">
                        <td data-title="'Codice Stampa'" sortable="'print_code'">{{event.print_code}}</td>
                        <td data-title="'Titolo'" sortable="'name'">{{event.name}}</td>
                        <td data-title="'Iscrizioni capi'" sortable="'seats_n_chiefs'">{{event.seats_n_chiefs}}/{{event.max_chiefs_seats}}</td>
                        <td data-title="'Iscrizioni ragazzi'" sortable="'seats_n_boys'">{{event.seats_n_boys}}/{{event.max_boys_seats}}</td>
                        <td data-title="'Quartiere'" sortable="'district'" filter="{ 'district': 'text' }">{{event.district}}</td>
                        <td data-title="'Strada di coraggio'" sortable="'heartbeat'" style="width: 130px;">{{event.heartbeat}}</td>
                        <td data-title="'Dettagli'" style="white-space: nowrap;">
                            <span data-toggle="modal" data-target="#event-details" ng-click="selectEvent(event);
                                  " class="btn btn-xs btn-default">Dettagli</span>
                            <span class="btn btn-xs btn-danger" ng-show="subscribedEvent(event) && !event.is_locked" ng-click="unsubscribe(event)">Cancellati</span>
                            <!--<span class="btn btn-xs btn-success" ng-show="!subscribedEvent(event) && !event.is_locked" ng-click="subscribe(event)" style="display: none;">Iscriviti</span>-->
                            <span class="label label-info" ng-show="event.state_handicap === 'ENABLED'" title="Evento accessibile anche per disabili">D</span>
                            <span class="label label-info" ng-show="event.min_age > 1" title="Età minima">{{event.min_age}}+</span>
                            <span class="label label-info" ng-show="event.state_chief === 'RESERVED'" title="Evento per soli capi">C</span>
                            <span class="label label-info" ng-show="event.state_chief === 'DISABLED'" title="Evento per soli ragazzi">&#571;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="loaded" class="modal fade" id="event-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    {{selectedEvent.name}}
                </h4>
            </div>
            <div class="modal-header">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!--<button class="btn btn-success btn-block buttt" data-dismiss="modal" ng-show="!subscribedEvent(selectedEvent)" ng-click="subscribe(selectedEvent)">Iscriviti</button>-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buttt">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="well">
                    <p>
                        <label>Tipologia</label>
                        {{selectedEvent.kind === 'TAV' ? 'TAVOLA ROTONDA' : 'LABORATORIO'}}
                    </p>
                    <p>
                        <label>Turno</label>
                        {{selectedEvent.timeslot}}
                    </p>
                    <p>
                        <label>Nome</label>
                        {{selectedEvent.name}}
                    </p>
                    <p>
                        <label>Strada di coraggio</label>
                        {{selectedEvent.heartbeat}}
                    </p>
                    <p>
                        <label>Quartiere</label>
                        {{selectedEvent.district}}
                    </p>
                    <p>
                        <label>Descrizione</label>
                        {{selectedEvent.description}}
                    </p>
                    <p>
                        <label>Iscrizioni capi</label>
                        {{selectedEvent.seats_n_chiefs}}/{{selectedEvent.max_chiefs_seats}}
                    </p>
                    <p>
                        <label>Iscrizioni ragazzi</label>
                        {{selectedEvent.seats_n_boys}}/{{selectedEvent.max_boys_seats}}
                    </p>
                    <p>
                        <label>Totale iscritti</label>
                        {{selectedEvent.n_seats}}/{{selectedEvent.seats_tot}} (disponibili {{selectedEvent.available_seats}})
                    </p>
                    <p>
                        <label>Aperto ai capi</label>
                        <span class="label label-danger" ng-show="selectedEvent.state_chief === 'RESERVED'">RISERVATO</span>
                        <span class="label label-success" ng-show="selectedEvent.state_chief === 'ENABLED'">Sì</span>
                    </p>
                    <p>
                        <label>Accessibilità per diversamente abili</label>
                        <span class="label label-danger" ng-show="selectedEvent.state_handicap === 'DISABLED'">No</span>
                        <span class="label label-success" ng-show="selectedEvent.state_handicap === 'ENABLED'">Sì</span>
                    </p>
                    <p>
                        <label>Età minima</label>{{selectedEvent.min_age}}
                    </p>
                    <p>
                        <label>Codice dell'evento</label>{{selectedEvent.code}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading" ng-if="!loaded" class="row" style="margin-top: 0%;">
    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h3>Il caricamento dei dati necessari può richiedere un po' di tempo.</h3>
        <h3 style="text-align: center;">Attendere prego...        </h3>
        <p style="text-align: center;">
            <img src="/static/subscribe/loading.gif" width="150" alt="">
        </p>
    </div>
</div>
